################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureAI.TextToSpeech/bin
/AzureAI.TextToSpeech/obj
/AzureAI.TextToSpeech/appsettings.json
*.wav
*.txt
*.ssml
/zevlor.mp3
/zevlor.mp4
/_files
